@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.signin-page {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  padding: 0;

  .drop-down {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 50vw;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible;

    @keyframes slideDown {
      0% {
        transform: translateY(-100%);
      }
      50% {
        transform: translateY(8%);
      }
      65%{
	    	transform: translateY(-4%);
	    }
	    80%{
		    transform: translateY(4%);
	    }
	    95%{
		    transform: translateY(-2%);
	    }
	    100% {
		    transform: translateY(0%);
	    }
    }

    @-webkit-keyframes slideDown {
      0% {
        -webkit-transform: translateY(-100%);
      }
      50% {
        -webkit-transform: translateY(8%);
      }
      65%{
	    	-webkit-transform: translateY(-4%);
	    }
	    80%{
		    -webkit-transform: translateY(4%);
	    }
	    95%{
		    -webkit-transform: translateY(-2%);
	    }
	    100% {
		    -webkit-transform: translateY(0%);
	    }
    }
  }

  .container-fluid {
    min-height: 100vh;
    height: 100%;

    .row {
      min-height: 100vh;
      width: 100%;
      height: 100vh;
      margin: 0;

      .image-container {
        background-image: url('https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/94977d34f99015525dcd0fc9987fcbe6.png');
        background-size: cover;

        max-height: 100vh;

        @include breakpoint-med-down {
          display: none;
        }
      }

      .page-content {
        width: 100%;
        height: 100%;
        padding: 1rem;


        .signin-form {

          @include breakpoint-med-down {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          min-height: 80vh;
          height: 100%;
          max-width: 100%;
          padding: 1rem 3rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .signin-header {
            margin: 0 auto 6rem;
          }

          form {
            height: 50vh;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .form-input {
              height: 3rem;
              width: 100%;
              margin-bottom: 2rem;



              input {

                height: 100%;
                width: 100%;
                padding: 1rem;
                border: 1px solid $grey;
                border-radius: 5px;
                background-color: $lightgrey;

                &:hover {
                  border: 1px solid $darkergrey;
                }

                &:focus,
                &:active {
                  border: 1px solid $green;
                  outline: none;
                  box-shadow:
                    0 0 4px 1px rgba(0,0,0,.01),
                    0 3px 24px rgba(48,51,51,.09);
                }

                &::placeholder {
                  color: $darkergrey;
                }
              }
            }

            .buttons-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              height: 7rem;

              a {
                text-decoration: none;
                color: $green;
                padding: 0;

                height: 1.5rem;

                &:hover {
                  filter: contrast(125%);
                  cursor: pointer;
                }
              }

              button {

                padding: .75rem 1.5rem;

                //height: 2.5rem;
                //width: 6rem;

                border: 1px solid $green;
                border-radius: 5px;
                background-color: $white;
                color: $green;

                &:hover {
                  border: 1px solid $green;
                  background-color: $green;
                  color: $white;
                  cursor: pointer;
                }

                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }

}
