@import '../../../styles/_colors.scss';

.sidebar-wrapper {

  min-height: 55vh;
  font-size: .875rem;

  .sidebar {
    font-weight: 500;
    box-shadow:
      0 0 4px 1px rgba(0,0,0,.01),
      0 3px 24px rgba(48,51,51,.09);

    .watchlist-header {
      padding: 1rem;
      font-size: 1.1rem;
      font-weight: 500;

      border-bottom: 1px solid $grey;

    }

    .watchlist {

      .watchlist-item {
        border-bottom: 1px solid $grey;
        padding: 1rem 1.5rem;

        display: flex;
        justify-content: space-between;

        &:hover {
          background-color: $lightgrey;
          cursor: pointer;
        }
      }
    }

    .stocks-list-header {
      padding: 1rem;
      font-size: 1.1rem;
      font-weight: 500;

      border-bottom: 1px solid $grey;
    }

    .stocks-list {

      .stocks-list-item {
        border-bottom: 1px solid $grey;
        padding: .25rem 1.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;


        &:hover {
          background-color: $lightgrey;
          cursor: pointer;
        }

        .list-item-left {

          display: flex;
          justify-content: space-between;
          flex-direction: column;

          .company-symbol {

          }
          .company-shares {

          }
        }

        .mini-chart-container {
          width: 33%;
        }

        .list-item-right {

        }
      }
    }
  }
}
