@import '../../../styles/_colors.scss';

.buy-modal {
  z-index: 1000;
  height: 100%;
  width: inherit;

  border: 1px solid $green;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}
