$breakpoints: (
  'xsmall' : 0px,
   'small' : 376px,
   'medium' : 426px,
   'large' : 600px,
   'xlarge' : 850px,
);

@mixin breakpoint-sm-down {
  $max-value: map-get($breakpoints, medium) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-sm-up {
  $min-value: map-get($breakpoints, small);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-med-down {
  $max-value: map-get($breakpoints, large) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-med-up {
  $min-value: map-get($breakpoints, medium);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-lg-down {
  $max-value: map-get($breakpoints, xlarge) - 1;

  @media (max-width: $max-value) {
    @content;
  }
}

@mixin breakpoint-lg-up {
  $min-value: map-get($breakpoints, large);

  @media (min-width: $min-value) {
    @content;
  }
}

@mixin breakpoint-xlarge-up {
  $min-value: map-get($breakpoints, xlarge);

  @media (min-width: $min-value) {
    @content;
  }
}
