@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.signup-page {
  @include breakpoint-med-up {
    background-color: orange;
  }
  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .drop-down {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100vw;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible;

    @keyframes slideDown {
      0% {
        transform: translateY(-100%);
      }
      50% {
        transform: translateY(8%);
      }
      65%{
	    	transform: translateY(-4%);
	    }
	    80%{
		    transform: translateY(4%);
	    }
	    95%{
		    transform: translateY(-2%);
	    }
	    100% {
		    transform: translateY(0%);
	    }
    }

    @-webkit-keyframes slideDown {
      0% {
        -webkit-transform: translateY(-100%);
      }
      50% {
        -webkit-transform: translateY(8%);
      }
      65%{
	    	-webkit-transform: translateY(-4%);
	    }
	    80%{
		    -webkit-transform: translateY(4%);
	    }
	    95%{
		    -webkit-transform: translateY(-2%);
	    }
	    100% {
		    -webkit-transform: translateY(0%);
	    }
    }
  }

  .signup-header {
    margin-bottom: 2rem;
  }

  .signup-form {
    height: 100vh;
    margin-top: 2rem;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form-input {
        height: 3rem;
        width: 80vw;
        margin-bottom: 2rem;

        @include breakpoint-lg-up {
          margin-bottom: 3rem;
          width: 65vw;
        }

        input {
          height: 100%;
          width: 100%;
          padding: 1rem;
          border: 1px solid $grey;
          border-radius: 5px;

          &:hover {
            border: 1px solid $darkergrey;
          }

          &:focus,
          &:active {
            border: 1px solid $green;
            outline: none;
            box-shadow:
              0 0 4px 1px rgba(0,0,0,.01),
              0 3px 24px rgba(48,51,51,.09);
          }

          &::placeholder {
            color: $darkergrey;
          }
        }
      }

      button {
        margin-top: 1rem;
        height: 2.5rem;
        width: 50vw;
        border: 1px solid $green;
        border-radius: 5px;
        background-color: $white;
        color: $green;

        &:hover {
          border: 1px solid $green;
          background-color: $green;
          color: $white;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

}
