@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.dashboard {
  width: 100vw;
  min-height: 100vh;

  @include breakpoint-sm-down {
    padding: 7rem 1rem 0;


    .column__left {

      .row__top {
        min-height: 33vh;
        height: 45%;

        .dashboard-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 25%;
          margin-bottom: 2rem;
        }

        .chart-container {

          height: 75%;
        }
      }

      .row__middle--mobile {
        width: 100%;

        .sidebar-container--mobile {
          width: 100%;
        }
      }

      .row__bottom {
      }
    }

    .column__right {
      display: none;
    }
  }

  @include breakpoint-med-up {
    display: flex;
    margin-left: 4rem;
    padding: 5rem 1rem 0;



    .column__left {
      width: 67vw;

      .row__top {
        display: flex;
        flex-direction: column;

        .dashboard-header {
          .portfolio-value {
            font-size: 2.8rem;
          }

          .value-change {
            .timespan {
              color: $darkergrey;
              margin-left: .25rem;
            }
          }
        }

        .chart-container {
          padding: 2rem;
        }


      }

      .row__middle--mobile {
        display: none;
      }
    }

    .column__right {
      width: 24vw;

      .sidebar-container {
        position: sticky;
        top: 8rem;
        width: 100%;
        margin-left: 1rem;

      }
    }


  }


}
