@import '../../../styles/_colors.scss';

.search-container {
    position: relative;

  .search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 auto;

    form {
      flex: 1;

      .search-input {
        width: 100%;
        height: 1.675rem;
        flex: 1;

        font-weight: 200;

        outline: none;
        border-radius: 5px;
        border: 1px solid $grey;

        padding: 1rem;

        &:hover,
        &:focus {
          border: none;
          box-shadow:
            0 0 4px 1px rgba(0,0,0,.01),
            0 3px 24px rgba(48,51,51,.09);
        }

        &::placeholder {
          font-family: 'Roboto', sans-serif;
          font-weight: 200;
        }
      }
    }
  }

  .query-results {
    z-index: 10;
    background-color: $white;
    position: absolute;
    width: 100%;
    box-shadow:
      0 0 0 1px rgba(0,0,0,.01),
      0 0 24px rgba(48,51,51,.09);


    .query-results-item {
      width: 100%;
      padding: .5rem;
      font-size: .875rem;

      display: flex;

      &:hover {
        background-color: $lightgrey;
        cursor: pointer;
      }

      .result-wrapper {
        width: 50%;
        display: flex;


        .result-symbol {
          width: 100%;
        }

        .result-name {
          width: 100%;
        }
      }


    }
  }

}
