@import '../../../styles/_colors.scss';
@import '../../../styles/_breakpoints.scss';

.newsfeed {


  @include breakpoint-sm-down {
    margin-top: 0;

    .newsfeed__title {
      padding: 0 0 1rem 1rem;
      border-bottom: 1px solid $grey;
      margin-bottom: 1rem;
    }

    .articles-list {
      a {
        text-decoration: none;
        color: inherit;
      }

      .article {
        padding: .25rem .5rem;
        margin-bottom: 1rem;
        height: 10rem;
        overflow: hidden;
        border: 1px solid $lightgrey;
        border-radius: 4px;

        &:hover,
        &:active {
          background-color: $grey;
          cursor: pointer;
        }

        .article-left {
          min-width: 40vw;

          img {
            height: 100%;
            width: 100%;

            border-radius: 5px;
          }
        }

        .article-right {
          min-width: 50vw;
          position: relative;

          .article-source {
            font-weight: 500;
            font-size: 1rem;

            .article-company {
              color: $green;
              font-size: 1rem;
            }
          }

          .article-published {
            display: none;
          }

          .article-headline {
            font-size: .875rem;

          }

          .article-published--mobile {
            margin-top: .5rem;
            font-size: .75rem;
            margin-left: .5rem;
            color: $darkergrey;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
          }

          .article-preview {
            display: none;
          }
        }
      }
    }
  }

  @include breakpoint-med-up {
    margin-top: 2rem;

    .newsfeed__title {
      border-bottom: 1px solid $grey;
      padding: 1rem 0;
      margin-bottom: 1.5rem;
    }

    .articles-list {

      a {
        text-decoration: none;
        color: inherit;
      }

      .article {
        padding: .5rem 1rem;
        margin-bottom: 1rem;
        height: 12rem;
        overflow: hidden;
        border: 1px solid $lightgrey;
        border-radius: 4px;

        display: flex;
        justify-content: space-around;


        &:hover {
          background-color: $grey;
          cursor: pointer;
        }

        .article-left {
          width: 33%;
          display: flex;
          align-items: center;

          img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
          }
        }

        .article-right {
          width: 67%;
          padding: 1rem;
          margin-left: 1rem;

          display: flex;
          flex-wrap: wrap;

          .article-source {
            font-weight: 500;

            .article-company {
              color: $green;
            }
          }

          .article-published {
            margin-left: .5rem;
            color: $darkergrey;
          }

          .article-headline {

          }

          .article-published--mobile {
            display: none;
          }

          .article-preview {
            font-size: 1.125rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }
      }
    }
  }
}
