@import '../../../styles/_colors.scss';
@import '../../../styles/_breakpoints.scss';

.newsfeed {
  @include breakpoint-sm-down {
    margin-top: 0;
  }

  margin-top: 2rem;


  & > h3 {
    border-bottom: 1px solid $grey;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
  }

  .articles-list {

    a {
      text-decoration: none;
      color: inherit;
    }

    .article {
      padding: .5rem 1rem;
      margin-bottom: 1rem;
      height: 12rem;
      overflow: hidden;
      border: 1px solid $lightgrey;
      border-radius: 4px;

      display: flex;
      justify-content: space-around;


      &:hover {
        background-color: $grey;
        cursor: pointer;
      }

      .article-left {
        width: 33%;
        display: flex;
        align-items: center;

        img {
          height: 100%;
          width: 100%;
          border-radius: 5px;
        }
      }

      .article-right {
        width: 67%;
        padding: 1rem;
        margin-left: 1rem;

        display: flex;
        flex-wrap: wrap;

        .article-source {
          font-weight: 500;

          .article-company {
            color: $green;
          }
        }

        .article-published {
          margin-left: .5rem;
          color: $darkergrey;
        }

        .article-headline {

        }

        .article-preview {
          font-size: 1.125rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
    }
  }
}
